<p>Hey <%= locals.userName %>,</p>
<p>Did you forget your password at NestJS Shop App?</p>
<p>Please click below to go to the manual page:</p>
<p>
    <a href="<%= locals.redirectUrl %>">Guide</a>
</p>
<p>Please reset your password within 10 minutes of receiving this email.</p>
<p>Token to reset your password: <strong><%= locals.token %></strong></p>

<p>If you did not request this email you can safely ignore it.</p>