<p>Hey <%= locals.userName %>,</p>
<p>Products input results via form:</p>
<ul><li>Malformed upload file, need to use file with template from System.</li></ul>
<p>
  <a href="<%= locals.templateUrl %>">Template</a>
</p>